{% extends "base/base.html" %}}
{% load staticfiles %}
{% load static %}
{% block content %}

<div class="container" id="bgContent">
	<content >

		<div class="flex">
            {% if forum %}
                {% for data in forum %}
                    <div class="flex-item">
                        <div class="to-do-list">
							<div class="image-and-username">
								<p>
								<img class="image-fluid"  src = "{% static 'HalProfile/img/pict.jpg' %}" style= "max-width:50px; max-height: 50px;">
								<b>
								{{author}}
								</b>
								</p>
							</div>
							<div id="namaPerusahaan" >
                                Dummy
                            </div>
                            <div class="to-do-list-description">
                                {{data.body}}
                            </div>
                            <div class="to-do-list-date-added">
								<font color='gray'>
                                {{data.created_date}}
								</font>
                            </div>
                            <form id="form-{{data.id}}" method="post" action="{% url 'tugas2_forum:delete' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="flag" value="{{data.id}}"/>
                                    <input id = "submit{{data.id}}" id="delete-{{data.id}}" type="submit" data-id="{{data.id}}" value="Delete" class="btn btn-primary float-right">
                            </form>
                            {% if comment %}
                            <p>Comments</p>
                            {% for comm in comment %}
                            {% if data.body == comm.post.body %}
                            <div class="comment-field">
                                    <p text-indent="50px">{{comm.name}}</p>
                            </div>
                            <div class="comment-field">
                                    {{comm.body}}
                            </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                <div class="card">
                                        <div class="card-block">   
                        
                                            <!-- Form for new status -->
                                            <form class="card-text" method="POST" action="{% url 'tugas2_forum:comment' %}">
                                                {% csrf_token %}
                                                {{ Postingan }}
                                        </div>
                                    </div>
                                    <button name="flag" value="{{data.id}}" type="submit" class="btn btn-primary float-right" style="margin-top: 2px" id="button">Comment</button>
                                </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data.
            </div>
            {% endif %}
        </div>
        <div class="card">
                <div class="card-block">

                    <!-- Form for new status -->
                    <form class="card-text" method="POST" action="{% url 'tugas2_forum:add' %}">
                        {% csrf_token %}
                        {{ Postingan }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right" style="margin-top: 2px" id="button">Submit</button>
        </form>
    
        
	</content>
</div>

<script type="text/javascript">
    $(document).ready(function(){
            {% for post in forum %}
         
                $(".comment-field-{{ post.id }}").hide();
                $("#toggle-comments-{{ post.id }}").click(function(){
                    $(".comment-field-{{ post.id }}").toggle();
                });
        
            {% endfor %}
        });
  console.log("coba atas")
  getSessionDataCompany();

  function getSessionDataCompany(){
    console.log("ahha");
    var company = JSON.parse(sessionStorage.company);
    console.log (company);
    console.log("ahha");
    // document.getElementById("namaPerusahaan").innerHTML = company.name;
    // document.getElementById("deskripsi").innerHTML = '"'+company.description + '"';
    // document.getElementById("tipe").innerHTML = company.companyType.name;
    // document.getElementById("Year").innerHTML = company.foundedYear;
    // document.getElementById("website").innerHTML = company.websiteUrl;
    // document.getElementById("Spesialisasi").innerHTML = company.specialties.values[0] + ", " + company.specialties.values[1];

    $("form").append('<input type="hidden" name="id_perusahaan" value="' + company.id + '"/>');

  }
</script>

{% endblock %}  