
body {
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:#F8F8FF;  
    }
  
  
.img-circle{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid #9D9F93;
    }


.button {
    background-color: #6EB0C5;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	border-radius: 20px;
    }