{% extends "base/base.html" %}}
{% load staticfiles %}
{% load static %}
{% block content %}
     
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{author}}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/tugas2_Profile.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!-- bootstrap csss -->

</head>
<div class="container" id="bgContent">
      <div id = "over" class="text-center">
        <h3 style="text-align:center; color: black">
        <small><em> <p style="color: black"> <b> Welcome! </b> </p> </em></small>
        <hr style="border: 0.5px solid black" />​
        </h3>

        <img class="image-fluid"  src = "http://www.otextechnology.com/images/services/hucapital.png" style= "max-width:18%; max-height: 500px;  border-radius: 50%; margin-top: 20px">

        <h2 id = "namaPerusahaan" style="color:black text-align: center;"><b>Nama Perusahaan</b></h2>
        <h4 id = "deskripsi" style="color:black text-align: center;"> Deskripsi Perusahaan</h4>
        
        <button href = "#" class = "button"> lihat forum</button>
        <button class = "button"> Cari Mahasiswa</button>

    </div>

  <content >
  <hr style="border: 1px solid black" />​
      <div class="row">
          <table style="width:50%; margin-top: 5px; margin-left: 400px ;" align= "center";>
          <style>
            table, th, td {
              color: black;
              height: 35px;
              align-content: center;
            }
          </style>
              <tr >
              <th>Tipe Perusahaan</th>
              <td id = "tipe"><b></b></td>
              </tr>

              <tr>
              <th >Founded Year</th>
              <td id = "Year"><b></b></td>
              </tr>

              <tr>
              <th >Web Perusahaan</th>
              <td id = "website"><b></b></td>
              </tr>


              <tr>
              <th >Spesialisasi</th>
              <td id = "Spesialisasi"><b></b></td>
              </tr>

          </table>
          <p></p>
          <hr style="border: 1px solid black" />​
         
      </div>
       <hr style="border: 1px solid black">​
  </div>

  </content>
</div>


<script type="text/javascript">
  console.log("coba atas")
  getSessionDataCompany();

  function getSessionDataCompany(){
    console.log("ahha");
    var company = JSON.parse(sessionStorage.company);
    console.log (company);
    console.log("ahha");
    document.getElementById("namaPerusahaan").innerHTML = company.name;
    document.getElementById("deskripsi").innerHTML = '"'+company.description + '"';
    document.getElementById("tipe").innerHTML = company.companyType.name;
    document.getElementById("Year").innerHTML = company.foundedYear;
    document.getElementById("website").innerHTML = company.websiteUrl;
    document.getElementById("Spesialisasi").innerHTML = company.specialties.values[0] + ", " + company.specialties.values[1];

  }

</script>
</html>
{% endblock %}