{% extends "base/base.html" %}}
{% load staticfiles %}
{% load static %}
{% block content %}
<div id="top_div">
    <div class="container"> 
     
    </div>    

    
</div>

<div id="bottom_div">
        
    <div class="container"> 
        <div class="flex">
            {% if forum %}
                {% for data in forum %}
                    <div class="flex-item">
                        <div class="to-do-list">
							<div class="image-and-username">
								<p>
								<img class="image-fluid"  src = "{% static 'HalProfile/img/pict.jpg' %}" style= "max-width:50px; max-height: 50px;">
								<b>
								{{author}}
								</b>
								</p>
							</div>
							<div id="namaPerusahaan" >
                                Dummy
                            </div>
                            <div class="to-do-list-description">
                                {{data.body}}
                            </div>
                            <div class="to-do-list-date-added">
								<font color='gray'>
                                {{data.created_date}}
								</font>
                            </div>
                            <form id="form-{{data.id}}" method="post" action="{% url 'tugas2_Login:delete' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="flag" value="{{data.id}}"/>
                                    <input id = "submit{{data.id}}" id="delete-{{data.id}}" type="submit" data-id="{{data.id}}" value="Delete" class="btn btn-primary float-right">
                            </form>
                            {% if comment %}
                            <p>Comments</p>
                            {% for comm in comment %}
                            {% if data.body == comm.post.body %}
                            <div class="comment-field">
                                    <p text-indent="50px">{{comm.name}}</p>
                            </div>
                            <div class="comment-field">
                                    {{comm.body}}
                            </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                <div class="card">
                                        <div class="card-block">   
                        
                                            <!-- Form for new status -->
                                            <form class="card-text" method="POST" action="{% url 'tugas2_Login:comment' %}">
                                                {% csrf_token %}
                                                {{ Postingan }}
                                        </div>
                                    </div>
                                    <button name="flag" value="{{data.id}}" type="submit" class="btn btn-primary float-right" style="margin-top: 2px" id="button">Comment</button>
                                </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data.
            </div>
            {% endif %}
        </div>
        
   
    

    </div> 
</div>
{% endblock %}
